*.o
*.bin
*.hex
*.elf
*.dmp
*.lst
*.a
/riscv/software/cpptest/hello
*.bit
*.txt
*.mem
*.bak
*.sym
*.bmm
*.vhd
/build/*
/fusesoc.log
*.geany
*.vhd.old
/monitor/.cproject
/monitor/.project
/monitor/.settings/language.settings.xml
/.vscode/settings.json
